/* Header/Background Info Code */
header
{
    padding-left: 25px;
    padding-right: 25px; 
    display: flex;
    height: 75px;
    padding-bottom: 10px;
}


.name-Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.first-name {
  margin: 0;
}

.last-name {
  margin: 0;
}

a
{
    margin-left: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

nav
{
    float: right;
    margin-left: auto;
    margin-top: auto;
}

nav a:hover {
  text-decoration: underline;
  color: #F1B24A;
}

.nav-header
{
background-color: #164A41;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #164A41;
  padding: 20px;
  margin-top: 20px;
  border-radius: 0 10px 0 0;
  width: 75%;
}

.footer-info{
  width: 40%;
}

.footer-social
{
  background-color: #9DC88D;
}

.fa-linkedin
{
font-size: 24px;
}
.fa-github
{
  font-size: 24px;
  margin-left: 10px;

}

/* Heading Titles Code */
h1
{
    
    font-family: Georgia, 'Times New Roman', Times;
    font-size: 25px;
    font-weight: 100;
    
    display: inline-block;
    margin: 0;
    text-align: center;
}

h2
{
    font-size: 40px;
}

h3
{
    font-size: 25px;
}

/* Button Code*/
button{
  margin-bottom: 10px;
  background-color: #ED9E1B;
  color: white;
  border: 2px solid #F1B24A;
  transition: background-color 0.5s;
  border-radius: 10px;
  width: 150px;
  height: 30px;
}

button:hover
{
  background-color: #F1B24A;
}
/*Container and Section Code */
.container
{
    width: 70%;
    margin: 0 auto;
}

.sec-Container
{
  display: flex;
  align-items: stretch;
}

.left-Sec {
  float: left;
  width: 50%;
  flex: 1;
  margin-right: 10px;
}

.right-Sec {
  float: right;
  width: 50%;
  flex: 1;
  margin-left: 10px;
}


/* Image Code*/
img
{
    height: 40px;
    width: 40px;
    
    float: left;
    margin-right: 10px;
}

.image-container {
  background-color: #A2CD8F;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

/*background Code */
body {
    background: linear-gradient(to right, #164A41, #9DC88D);
    background-size: 250% 100%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

  
    /*animation: gradient 10s ease infinite;*/
  }

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

