h1
{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 100;
    
    display: inline-block;
    margin: 0;
    text-align: center;
}

h2
{
    font-size: 20px;
}

h3
{
    font-size: 15px;
}

header
{
    padding-left: 25px;
    padding-right: 25px; 
    display: flex;
}

body
{

}

img
{
    height: 40px;
    width: 40px;
    
    float: left;
    margin-right: 10px;
}

a
{
    margin-left: 15px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

nav
{
    float: right;
    margin-left: auto;
    margin-top: auto;
}